@import url(./styles.css);

.aboutUs_body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100vw;
}

.aboutUs_main{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutUs_portraitContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
}
.aboutUs_portraitInfo{
  width: 340px;
  font-size: 1.5rem;
  color: var(--sfBlue);
}
.aboutUs_portraitInfo svg {
  margin: 0 4rem;
}

.aboutUs_portrait img {
  width: 300px;
  border-radius: 10%;
}
.aboutUs_portrait img:hover{
  box-shadow: 5px 5px black;
}

.aboutUs_heroSection {
  align-self: center;
}

#about{
font-size: 4rem;
top: 75px;
left: 143px;
position: relative;
color: var(--sfBlue);
}

svg path{
  fill: var(--sfRed);
}
svg path:hover{
  fill: hsl(353, 100%, 40%);
}

.aboutUs_portraitInfo h1{
  font-size: 2rem;
}