@import url(./styles.css);

.aboutUs_body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100vw;
}

.aboutUs_main{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutUs_portraitContainer{
  display: block;
  flex-direction: column;
  align-items: baseline;
  margin: 1rem;
  width: 500px;
}

.portrait_items{
  display: flex;
  position: relative;
  top: -100;
  justify-content: space-around;
}

.aboutUs_portraitInfo{
  position: relative;
  display: none;
  width: 250px;
  top: -100px;
  margin: -1rem 1rem;
  font-size: 1.5rem;
  height: 100px;
  color: var(--sfBlue);
}


.aboutUs_portrait img {
  width: 300px;
  border-radius: 10%;
}
.aboutUs_portrait img:hover{
  box-shadow: 5px 5px black;
}

.aboutUs_heroSection {
  align-self: center;
}

#about{
font-size: 4rem;
top: 75px;
left: 143px;
position: relative;
color: var(--sfBlue);
}

svg path{
  fill: var(--sfRed);
}
svg path:hover{
  fill: hsl(353, 100%, 40%);
}

.aboutUs_portraitInfo h1{
  font-size: 2rem;
}